{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Operation Type</th>
      <th scope="col">Money</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.category }}</td>
      <td>{{ object.operation_type }}</td>
      <td>{{ object.money }}</td>
      <td>{{ object.brief_description }}</td>
      <td>{{ object.pub_date }}</td>
      <td>
        <a href="#"><img src="{% static 'user/img/writing.png' %}" height="24" width="24" alt="edit"></a>
        <a href="{% url 'transaction-delete' object.id %}"><img src="{% static 'user/img/delete.png' %}" height="24" width="24" alt="delete"></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}